/* About.css */

.about-section {
    position: relative;
    color: #4B5563;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/11.jpg');
  }
  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .about-container {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .about-image-container {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .about-image-container {
      max-width: 50%;
      margin-bottom: 0;
    }
  }
  
  .about-image {
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  .about-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .about-content {
      max-width: 50%;
      padding-left: 4rem;
      align-items: flex-start;
      text-align: left;
    }
  }
  
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1E3A8A;
  }
  
  @media (min-width: 640px) {
    .about-title {
      font-size: 2.5rem;
    }
  }
  
  .about-description {
    color: #1F2937;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .about-button-container {
    display: flex;
    justify-content: center;
  }
  
  .about-button {
    color: white;
    background-color: #3B82F6;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .about-button:hover {
    background-color: #2563EB;
    transform: scale(1.05);
  }
  