

.home-section {
    color: #4B5563;
    position: relative;
    background-image: url('/assets/00.3.png.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  